/* http://colorschemedesigner.com/csd-3.5/#3x11Tw0w0w0w0 */
html, body {
	font-family: 'Roboto';
	margin: 0;
}

section {
	margin: auto;
	max-width: 980px;
}


#map {
	height: 400px;
	width: 100%;
}

div.table {display: inline-table; width: 100%;}
div.table>div {display: table-cell; vertical-align: top;}

@media handheld, only screen and (max-width: 800px) {
	#results_map {
		display: block;
	}
	#results_map>div {
		display: block;
		width: 100%;
	}
}