#journeys.load, .journeys {
	min-width: 300px;
	max-width: 400px;
	width: 30%;
}

@media handheld, only screen and (max-width: 800px) {
	#journeys.load, .journeys {
		background-color: #eef;
		min-width: none;
		max-width: none;
		width: 100%;
	}
}

.journeys {
	background-color: #eef;
}

.loader {
	background-image: url('../img/loader.gif');
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: center;
	height: 32px;
	margin: auto;
	text-align: center;
}

.journeys .journey {
	font-size: 12px;
	border-top: 1px solid #000;
}
.journeys:last-child {border-bottom: 1px solid #000;}
.journeys .journey h3 {margin: 0;}
.journeys .journey .sumup {
	display: table;
	width: 100%;
	background-color: #eef;
	cursor: pointer;
	transition: All 0.3s;
}
.journeys .journey.showed .sumup, .journeys .journey .sumup:hover {background-color: #ddf;}
.journeys .journey.showed .sumup {border-bottom: 1px solid #000;}
.journeys .journey .sumup>p {
	display: table-cell;
	padding-left: 25px;
	background-size: 20px 20px;
	background-position: 0 center;
	background-repeat: no-repeat;
}
.journeys .journey .sumup>p.time {background-image: url('time.svg');}
.journeys .journey .sumup>p.walking {background-image: url('walk.svg');}
.journeys .journey .sumup>p.transfer {background-image: url('transfer.svg');}
.journeys .journey .sumup>p span {display: block;}
.journeys .journey .sumup>p .main {font-weight: bold;}
.journeys .journey .sumup>p .second {}

.journeys .journey .sections {display: none;}
.journeys .journey.showed .sections {display: inherit;}

.journeys .journey .sections div.section {
	margin-top: 5px;
	margin-bottom: 10px;
	display: table;
	height: 100%;
	width: 100%;
	transition: All 0.3s;
}
.journeys .journey .sections div.section:hover {
	background-color: rgba(221,221,255,0.8);
}
.journeys .journey .sections div.section div.row {display: table-row; height: 100%;}
.journeys .journey .sections div.section div.row>div {display: table-cell; height: 100%; vertical-align: middle; padding: 3px;}
.journeys .journey .sections div.section div.row>div:first-child {width: 40px; text-align: center;}
.journeys .journey .sections div.section div span {display: block;}

.journeys .journey .sections div.section span.departure_date_time,
.journeys .journey .sections div.section span.arrival_date_time {
	font-family: 'Roboto Condensed';
}

.journeys .journey .sections div.section span.from,
.journeys .journey .sections div.section span.to {
	font-family: 'Roboto Condensed';
	font-weight: bold;
}

.journeys .journey .sections div.section div.row>div.road {padding-top: 0; padding-bottom: 0; width: 10px;}
.journeys .journey .sections div.section div.circle {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 6px;
}
.journeys .journey .sections div.section div.line {
	display: block;
	height: 100%;
	width: 0px;
	margin: auto;
	border: 0;
	border-right: 4px;
	border-style: solid;
    -moz-box-sizing: border-box;
    overflow:auto;
}
.journeys .journey .sections div.section div.line.dashed {border-style: dashed;}

.journeys .journey .sections div.section span.direction::before,
.journeys .journey .sections div.section span.stop_duration::before {
	font-family: 'FontAwesome';
	margin-right: 5px;
}
.journeys .journey .sections div.section.public_transport span.direction::before {content: '\f18e';}
.journeys .journey .sections div.section.walking span.direction::before {content: '\f18e';}
.journeys .journey .sections div.section span.stop_duration::before {content: '\f017';}

.journeys .journey .sections div.section.network_METRO span.icon::before {
	content: '\f239';
	font-family: 'FontAwesome';
}
.journeys .journey .sections div.section.walking span.icon::before {
	content: '';
	width: 20px;
	height: 20px;
	background-image: url('walk.svg');
	background-size: 20px 20px;
	display: inline-block;
}


.journeys .journey .sections div.section div.info {
	padding: 10px;
	background-color: #ddd;
	border-radius: 20px;
}

.journeys .links_journeys {display: none;}